<div class="row">
	<div class="col-md-6">
		<h2 class="text-center">Unconfirmed Vendors</h2>
		<% @unconfirmed_sellers.each do |seller| %>
			<%= seller.user.name %>
			<%= link_to 'Confirm Seller', seller_path(seller, seller: {confirmed: true}), method: :put %>
		<% end %>
		</div>
	<div class="col-md-6">
		<h2 class="text-center">Already Confirmed</h2>
		<% @confirmed_sellers.each do |seller| %>
			<p class="text-center"><%= seller.user.name %> </p>
		<% end %>
	</div>
</div>