<body id="about-screen" class="animated fadeIn">
	
<h2 class="text-uppercase text-center">At Gemma & Jet, we’re about independence.</h2>
<h3 class="text-uppercase">For Shoppers:</h3>
<p class="gemma-copy">We’re your go-to source of undiscovered fashion and design from all over the world. Discover and shop unique designs from around the globe while supporting independent designers and emerging labels.</p>
<p class="gemma-copy">Start shopping now.</p>
<%= link_to "Shop Now", listings_path, class: "btn btn-primary text-uppercase" %>
<hr>
<h3 class="text-uppercase">For Designers:</h3>
<p class="gemma-copy">If you’re a small/young/emerging/independent designer, we invite you to be a part a G&J. Simply upload photography and details of your line and we’ll take care of the rest. Think of G&J as an additional selling platform to help generate sales for your growing brand. Even more? We don’t get paid until you do. G&J will take 10% of every purchase of your products that is made on the site.</p>
<p class="gemma-copy">We’ll be working hard to promote amazing and talented designers and help propel their business forward. In addition, we’ll offer other services to help an independent designer focus on the things that really matter, like creating beautiful clothing and accessories for us all to love. Think on and off-site advertising options, photography packages and shipping assistance just to name a few.</p>
<p class="gemma-copy">Learn more and sign up now.</p>
<%= link_to "Become a Designer", listings_path, class: "btn btn-primary text-uppercase" %>

</body>