<body id="about-screen" class="animated fadeIn">
	
<h1 class="text-uppercase text-center">Sell with Gemma & Jet</h1>


<p class="gemma-copy">
	At Gemma & Jet, we understand what you as an emerging designer are going through. We’ve been there. Like really been there. From trying to get yourself “out there” to dealing with the dreaded wholesale markup, to going through the highs and lows of running your own line. We get it.
</p>
<p class="gemma-copy">
	At Gemma & Jet, we’re here to support you. We’re seeking out the coolest, newest, most stylish emerging designers looking to grow their brands and share their wares with the world.
</p>
<p class="gemma-copy">
	If you’re an independent or emerging designer selling apparel (women’s / men’s / kids’), accessories (bags / shoes / belts etc), jewelry, home wares or anything else just plain cool, we invite you to join us.
</p>

<h2 class="text-uppercase text-center">Let's Get Started:</h2>

<div class="row">
	<div class="col-md-4 well gemma-panel text-center">
		<h4 class="text-uppercase">1. Add products to your store</h4>
		<p>We will create your store for you.</p>
	</div>
	<div class="col-md-4 well gemma-panel text-center">
		<h4 class="text-uppercase">2. On-time Payment</h4>
		<p>Receive funds after each purchase like clockwork.</p>
	</div>
	<div class="col-md-4 well gemma-panel text-center">
		<h4 class="text-uppercase">3. Ship Directly to customer</h4>
		<p>We will add shipping fees to each order automatically.</p>
	</div>
</div>
<h2 class="text-uppercase text-center">We'll take care of the rest</h2>
<hr>
<h3 class="text-uppercase">Selling on Gemma & Jet</h3>
<ul>
	<li class="gemma-copy">
		Sell your work in a safe and secure environment, 24/7
	</li>
	<li class="gemma-copy">
		FREE to join. We get paid only when you do. You get 90% of the sale, we get 10%.That’s it. Always.
	</li>
	<li class="gemma-copy">
		Manage your products, inventory and orders all from one platform
	</li>
	<li class="gemma-copy">
		Grow your brand awareness and profits with new customers from Gemma & Jet
	</li>
</ul>

<h3 class="text-uppercase">Advertising on Gemma & Jet</h3>
<ul>
	<li class="gemma-copy">
		Become a featured designer for home page advertising, PR and/or social media support
	</li>
	<li class="gemma-copy">
		Inclusion in the Gemma & Jet bi-annual look book
	</li>
	<li class="gemma-copy">
		And more!
	</li>
</ul>

<p class="gemma-copy">Email us to create a custom package for you today: <a class="gemmaGoldLink" href="mailto:designer@gemmajet.com">designer@gemmajet.com</a></p>

<p class="gemma-copy">Again it’s FREE to join and we’ll collect a simple 10% fee only when you make a sale, so you don’t put up anything up front except your time to create your store. All order payments are sent directly to your Paypal account, and our fees our deducted simultaneously. No waiting and no invoices.</p>

<p class="gemma-copy">If you’re an independent or emerging designer, label, brand or company join us today.</p>

<p class="gemma-copy">Have questions about selling on Gemma & Jet? Email us at <a class="gemmaGoldLink" href="mailto:info@gemmajet.com">info@gemmajet.com</a> and we’ll get back to you.</p>
<div class="p15">
<h2 class="text-uppercase text-center">Ready to Start? <%= link_to "Become a Designer", listings_path, class: "btn btn-lg btn-primary text-uppercase" %>
</h2>
</div>
</body>