<body id="homepage">
	<div class="row">
		<div class="pull-left text-center animated fadeInUp" id="home-stuff">
			<h1 class="text-uppercase text-center">
				Spring is here
			</h1>
			<p class="text-uppercase">
				Check out the new editions for denim and eyewear
			</p>
				<%= link_to 'Shop now', listings_path, class: "btn btn-lg btn-primary text-uppercase" %>
		</div>
	</div>
</body>