@import "bootstrap";

body{
	background: #fff;
	color: #000;
	font-family: 'Lato', sans-serif;
}
#top-bar{
	height: 30px;
	background: #000;
	color: #fff;
	width: 100%;
}
#top-bar a{
	color: #fff;
	text-decoration: none;
}
#top-bar a:hover{
	color: #dcd17c;
	
}
.top-copy{
	font-family: 'Raleway', sans-serif;
	padding-top: 5px;
}
.listing-name{
	font-family: 'Lato';
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 300;
	
}
.listing-price{
	font-family: 'Lato';
	font-weight: 400;
	font-size: 1.9em;
	display: block;
	line-height: 100%;
	padding: 10px 0 20px;

}
.listing-description{
	font-family: 'Lato';
	font-weight: 300;
	font-size: 17px;
}
.navbar{
	height: 90px;
	line-height: 90px;
	border-radius: 0;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
background-color: #f8f8f8;
color: #555;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #f8f8f8;
border: none;
outline: none;
}

.navbar-default .navbar-nav > li > a{
	color: #000;
	outline: none;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #dcd17c;
	
}
.navbar-nav > li > a{
	padding: 30px 10px 30px 10px;
	text-transform: uppercase;
	outline: none;	
}
.navbar-nav > li > a:hover{
	color: #dcd17c;	
}
.navbar-brand{
	height: 50px;
	line-height: 50px;
	padding: 5px;
}
.navbar-toggle{
	margin-top: 25px;
}
.thumbnail a{
	outline: none;
}
#gj-logo{
	padding-top: 10px;
}
#gj-logo img{
	height: 35px;
}
.gallery:nth-child(4n+1){
	clear: left;
}
.thumbnail{
	border: none;
}
.gemma-link{
	color: #fff;
}
.gemma-link2{
	color: #fff;
	margin: 0px 10px;
	padding: 0;
	i{
		line-height: 1.2em;
	}
	a:hover{
		color: #dcd17c;
	}
}
.product-name{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-decoration: none;
	padding-bottom: 0;
	margin-bottom: 0;
	
}
.product-price{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;	
	text-decoration: none;
	margin-top: 0;
	padding-top: 0;
	
}
.listing-vendor{
	padding: 5px 0;
	
		a{
		font-size: 16px;
		color: #dcd17c;
		text-decoration: underline;
		padding: 5px;
		&:hover{
			
			color: #000;
		}
		span{
			color: #fff;
		}
	}
}
.alert-success{
	background-color: #dcd17c;
	color: #111;
}
.btn{
	border-radius: 0;
	box-shadow: none;	
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
     outline: 0;
     text-decoration: none;
     
}
:active {
   outline:none !important;
}
button {
  outline: none; 
	a:hover{
		color: #fff;
	}
}
button:focus {
	outline: 0 !important;
}
.btn-primary{
	background: #dcd17c !important;
	border: none;
	a{
		color: #fff;
	}
}
.btn-primary:hover{
	background: #000 !important;
	color: #dcd17c;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out; /* IE10 is actually unprefixed */
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.btn-primary a:hover{
		color: #dcd17c;
	}
.btn-link{
	color: #000;
	font-weight: normal;
	border-radius: 0;
}
.btn-link:visited{
	color: #111;
	text-decoration: none;
}
.btn-danger{
	background-color: #ff0000;
	border: none;
	text-decoration: none;
	
}
.btn-danger:focus, .btn-primary:focus, .btn-default:focus, 
.btn-danger:active, .btn-primary:active, .btn-default:active,{
	box-shadow: none;	
	-webkit-box-shadow: none;
     -moz-box-shadow: none;
     outline: none;
}
.btn-link:hover{
	color: #dcd17c;
	text-decoration: none;	
}
.btn-default a:hover{
	color: #dcd17c;
	text-decoration: none;	
}
.tx-div{
	width: 45px;
	display: block;
	height: 3px;
	background-color: #000;
	opacity: 0.7;
	margin: 15px 0 15px;
}
.navi{
	margin-top: 200px;
}
a{
	color: #111;
	outline: none;
}
a:hover{
	color: #dcd17c;
	text-decoration: none;
}
.form-group{
	width: 50%;
}
.form-control:focus {
  border-color: #dcd17c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 209, 124, 0.6);
}

.vendor a{
	color: #000 !important;
}
#vendor-screen{
	background-color: #dedede;
}
#sales-screen{
	background-color: #fff;
}
#about-screen{
	background-color: #dedede;
}
.gemma-copy{
	font-size: 16px;
}
.p15{
	padding: 15px;
}
#homepage{
	background: image-url('home1.jpg') no-repeat 0 100px;
	background-size: cover;
	height: 100%;
	max-width: 100%;
	overflow: hidden;
}
#home-stuff{
	background: rgba(0, 0, 0, 0.6);
	padding: 15px;
	margin-top: 200px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	h1{
		font-size: 70px;
		font-weight: 400;
	}
	p{
		font-size: 16px;
	}
}
.gallery{
	opacity: 0;
}
.pagination li > a:hover{
	color: #111;
}
.pagination li:hover{
	color: #111;
}
.pagination > .active > a, .pagination > .active > a:hover, 
.pagination > .active > a:focus, .pagination > .active > span, 
.pagination > .active > span:hover, .pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	background-color: #dcd17c;
	border-color: #dedede;
	cursor: default;
}
.pagination > li > a, .pagination > li > span {
	color: #111;
	background-color: #fff;
	border: 1px solid #dedede;
}
.cart{
	width: 350px;
	opacity: 0;
}
.cart:hover{
	opacity: 1;
}