@import "bootstrap";

body{
	background: #fff;
	color: #000;
	font-family: 'Lato', sans-serif;
}
#top-bar{
	height: 30px;
	background: #000;
	color: #fff;
	width: 100%;
}
#top-bar a{
	color: #fff;
	text-decoration: none;
}
#top-bar a:hover{
	color: #dcd17c;
	
}
.top-copy{
	font-family: 'Raleway', sans-serif;
	padding-top: 5px;
}
.listing-name{
	font-family: 'Lato';
	text-transform: uppercase;
	
}
.listing-price{
	font-family: 'Lato';
	font-weight: 400;
}
.listing-description{
	font-family: 'Lato';
	font-weight: 300;
	font-size: 17px;
}
.navbar{
	height: 90px;
	line-height: 90px;
}
.navbar-default .navbar-nav > li > a{
	color: #000;
}

.navbar-default .navbar-nav > li > a:hover{
	color: #dcd17c;
	
}
.navbar-nav > li > a{
	padding: 30px 10px 30px 10px;
	text-transform: uppercase;	
}
.navbar-nav > li > a:hover{
	color: #dcd17c;	
}
.navbar-brand{
	height: 50px;
	line-height: 50px;
	padding: 5px;
}
.navbar-toggle{
	margin-top: 25px;
}
#gj-logo{
	padding-top: 10px;
}
#gj-logo img{
	height: 35px;
}
.gallery:nth-child(4n+1){
	clear: left;
}
.thumbnail{
	border: none;
}
.gemma-link{
	color: #fff;
}
.gemma-link2{
	color: #fff;
	margin: 0px 10px;
	padding: 0;
	i{
		line-height: 1.2em;
	}
	a:hover{
		color: #dcd17c;
	}
}
.product-name{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-decoration: none;
	
}
.product-price{
	font-size: 20px;
	font-family: 'Raleway', sans-serif;	
	text-decoration: none;
	
}
.alert-success{
	background-color: #dcd17c;
	color: #111;
}
.btn-primary{
	background: #dcd17c !important;
	border: none;
}
a{
	color: #111;
}
a:hover{
	color: #dcd17c;
	text-decoration: none;
}
.form-control{
	width: 50%;
}
.form-control:focus {
  border-color: #dcd17c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 209, 124, 0.6);
}
