// #notice {
//   color: green;
// }

.field_with_errors {
   
}

#error_explanation {
  width: 575px;
  border: 2px solid #ff0000;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: #ff0000;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 13px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
    padding-bottom: 7px;
  }
}
